@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #0364DD;
}

a:visited {
    color: #0364DD;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin: 30px auto;
    width: 600px;
    max-width: 95%;
    position: relative;
    display: grid;
    grid-template-rows: max-content;
    grid-row-gap: 25px;
}

.logo {
    display: block;
    margin: auto;
    width: 150px;
    max-width: 100%;
}

.description {
    text-align: center;
}

.description h1 {
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.buttons button {
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16px;
    word-spacing: 4px;
    will-change: transform;
    transition: ease transform .3s;
    font-family: "Roboto", sans-serif;
}

.buttons button:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.buttons .button-run {
    background-color: #2F9250;
    border-bottom: solid 3px #297E45;
}

.buttons .button-new {
    background-color: #ED5F55;
    border-bottom: solid 3px #D2544B;
}

.buttons .button-save {
    background-color: #4EC2E7;
    border-bottom: solid 3px #42A4C3;
}

.buttons .button-disassemble {
    background-color: #9A59B5;
    border-bottom: solid 3px #8F53A8;
}

.code-wrapper {
    border: solid 1px #676767;
}

.code-wrapper .example-select {
    width: 100%;
    padding: 10px;
    font-weight: 16px;
    font-family: "Roboto", sans-serif;
    border: none;
    border-bottom: solid 1px #676767;
    background-color: white;
}

.code-textarea {
    height: 320px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    font-family: monospace;
}

.console {
    width: 100%;
    max-width: 100%;
    min-height: 150px;
    height: 180px;
    border: solid 1px #676767;
    padding: 5px;
    overflow: auto;
    resize: vertical;
}

.console pre {
    font-size: 16px;
    margin: 0;
}

.fa-spinner {
    animation: spin linear 2s infinite;
}

.console .table-disassemble {
    width: 100%;
    border-collapse: collapse;
}

.console .table-disassemble th, td {
    border: 1px solid black;
    font-family: monospace;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 500px) {
    .buttons {
        grid-column-gap: 10px;
    }    
}